<!DOCTYPE html>
<html>
<!--<html>-->
<head>
    <title>miniEden</title>

    <script type="text/javascript">
        ///////////////////////////////////////////////////////////////////////
        /// AUTO FILE LOADING ARRAY CREATION - MUST BE KEPT IN INDEX.
        /// Else it will throw an Uncaught SyntaxError do to code parse fail.
        /// Don't know of a way to catch a parse error so we let it ride.
        var JS_PRE_FILES = {{jsPreFiles}}
        var JS_FILES = {{jsFiles}};
        var JS_POST_FILES = {{jsPostFiles}};
        var CSS_FILES = {{cssFiles}};
    </script>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />

    <script src="//cdnjs.cloudflare.com/ajax/libs/labjs/2.0.3/LAB.min.js"></script>
    <script src="js/manual-load/script-loader.js"></script>

</head>
<body>
<span hidden>{% raw %}</span>
<div class="stage">
<div ng-controller="MainCtrl" id="MainCtrl">
    <div id="connectionUI" class="fixedWidth" style="display: none">
    ======== Connection ========
    STATUS: {{connectionStatus}}
    ============================

    ======== UI LIBRARY ========
    connectionUI    | installed
    locationUI      | craft
    resourceUI      | craft
    countdownUI     | craft
    ============================
    </div>
    <!--<div id="gridUI" class="fixedWidth grid"> =={{combo}}==-->
 <!--|{{grid[0][0]}}{{grid[0][1]}}{{grid[0][2]}}| Streak: {{comboCount}}-->
 <!--|{{grid[1][0]}}{{grid[1][1]}}{{grid[1][2]}}| Streak Score: {{comboScore}}-->
 <!--|{{grid[2][0]}}{{grid[2][1]}}{{grid[2][2]}}| Bank: {{resource}}-->
 <!--=====-->
    <!--</div>-->
    <div id="gridDraw" class="fixedWidthNoPre grid">
        <!--{{grid}}-->
        <div ng-repeat="gridX in grid">
            <!--{{gridX}}-->
            <!--{{$index}}-->
            <span ng-repeat="letter in gridX track by $index">
                <span class="x{{$parent.$index}}y{{$index}}">{{letter}}</span>
            </span>
            <!--<div class="fixedWidth grid"  ng-repeat="gridY in gridX">-->
                <!--<pre>{{gridY}}</pre>-->
            <!--</div>-->
        </div>
    </div>



    You have stumbled upon an anamoly in the very fabric of cyberspace. There is nothing to do here... for now.<br>
    <br>
    But...<br>
    <br>
    You do see a random access memory crystal and a <span eden-object></span> in front of it.<br>
    <br>



    <!--<eden-glass></eden-glass>-->

    <div class="allWrapper" id="augShell" style="display: none">
        <div class="innerAllWrapper">
            <div class="titleWrapper">
                <p>Augmented Shell</p>
            </div>
            <div class="stuffWrapper">
                <div class="consoleResponse">
                    <!-- <h3>Console Response</h3> -->
                    <div class="consoleWrapper">
                        <div class="consoleOutput"></div>
                        <div class="consoleInput">
                            <input name="consoleInputField" id="consoleInputField" type="text" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--<div eden-glass></div>-->


    <div class="allWrapper" id="glassPrimer" style="display: none">
        <div class="innerAllWrapper">
            <div class="titleWrapper">
                <p>Title</p>
            </div>
            <div class="stuffWrapper">
            </div>
        </div>
    </div>

</div>


</div>
<span hidden>{% endraw %}</span>
</body>
</html>