<!DOCTYPE html>
<html>
<!--<html>-->
<head>
    <title>miniEden</title>

    <script type="text/javascript">
        ///////////////////////////////////////////////////////////////////////
        /// AUTO FILE LOADING ARRAY CREATION - MUST BE KEPT IN INDEX.
        /// Else it will throw an Uncaught SyntaxError do to code parse fail.
        /// Don't know of a way to catch a parse error so we let it ride.
        var JS_PRE_FILES = {{jsPreFiles}}
        var JS_FILES = {{jsFiles}};
        var JS_MODULES = {{jsModules}};
        var JS_POST_FILES = {{jsPostFiles}};
        var CSS_FILES = {{cssFiles}};
    </script>

    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />


    <script src="//cdnjs.cloudflare.com/ajax/libs/labjs/2.0.3/LAB.min.js"></script>
    <script src="js/manual-load/script-loader.js"></script>
    <script src="../shared/commonJSTest.js"></script>

</head>
<body ng-controller="MainCtrl">
<span hidden>{% raw %}</span>

<div id="backstage">
    <label for="shellInputActual">Shell Input Actual: </label>
    <input id="shellInputActual" type="text" maxlength="55">
</div>

<div id="curtain">
    <div id="shellInputDisplay">>&nbsp;</div>
    <div id="shellCaret"></div>

    <!--<div glass="main"></div>-->

    <!--<div login-gui="login-gui"></div>-->

</div>

<!--<ng-include src="'tpl/glass.html'" onload="bind()"></ng-include>-->

<div class="all-wrapper" id="glass-primer" style="display: none">
    <div class="inner-all-wrapper">
        <div class="title-wrapper">
            <p>Title</p>
        </div>
        <div class="stuff-wrapper">
            <div class="binary" id="binary-primer" style="display: none">
                <div class="binary-elements">
                <div ng-repeat="row in binaryGrid">
                    <span ng-repeat="binary in row track by $index">
                        <span ng-bind="binary" ng-init="coords='x'+$parent.$index+'y'+$index;x=$parent.$index;y=$index"
                              ng-click="binaryClick(coords,x,y)" class="{{coords}} letter"></span>
                    </span>

                </div>
                </div>

            </div>

            <!--LOGIN PROMPT-->
            <div class="stat-wrapper" id="login-gui-primer" style="display: none">
                <form ng-submit="login()">
                    <div class="statEntry">
                        <p class="statName">E-Mail: </p>
                        <p class="statValue"><input id="email-primer" class="email" ng-model="email" type="text"></p>
                    </div>
                    <div class="statEntry">
                        <p class="statName">Password: </p>
                        <p class="statValue"><input id="password-primer" class="password" ng-model="password" type="password"></p>
                    </div>

                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </form>
            </div>

            <!--PROMPT-->
            <div id="prompt-primer" class="prompt" style="display: none">
                <div class="prompt-text">Would You Like A GUI? </div>
                <div class="stat-wrapper prompt-buttons">
                    <div class="statEntry">
                        <p class="statName" ng-click="clicker()">YES </p>
                        <p class="statValue"></p>
                    </div>
                    <div class="statEntry">
                        <p class="statName" ng-click="typist()">NO </p>
                        <p class="statValue"></p>
                    </div>

                    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/>
                </div>

            </div>

        </div>
        <!--LOGIN NOTES - CAN'T BE MOVED OUT OF GLASS PRIMER UNLESS COMPILED-->
        <div id="login-ui-notification-primer" class="ui-notification" style="display: none">
            <span ng-show="!registerClick">{{loginMessage}}</span>
            <span ng-show="registerClick" ng-click="register()"><a href="#">>>CLICK TO REGISTER THIS EMAIL<<</a></span>
            <!--<span ng-show>PRESS ENTER TO SUBMIT!</span>-->
            <!--<span>INVALID EMAIL!</span>-->
        </div>

        <!--BINARY SCORE NOTES - CAN'T BE MOVED OUT OF GLASS PRIMER UNLESS COMPILED-->
        <span id="binary-score-primer" class="ui-notification" style="display: none">
Total KB + Bits Last Tick:
<h3>{{(privateYouser.bits/1024).toFixed(3)}} + {{privateYouser.points}}</h3>
Process:
<h4><img class="bit-icon" src="img/nodes/serverfarmBlue.png"></h4>
<!--Sample Size:-->
<!--<h3>{{privateYouser.selectionSize}}</h3>-->
        </span>

        <span id="furnace-primer" class="ui-notification" style="display: none">
            <h1>{{privateYouser.furnace}}</h1>
        </span>


    </div>
</div>



<span hidden>{% endraw %}</span>
</body>
</html>