#curtain {
    background: #000;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    padding: 10px;
    font-family: monospace;
}

#shellInputDisplay {
    float: left;
    color: #FFFFFF;
    white-space: pre;
}

#shellCaret {
    float: left;
    width: 7px;
    height: 14px;
    background: #f8ec77;
    opacity: .95;
}

.shellOutput {
    color: #FFF;
    margin-top: 0;
    margin-bottom: 0;

}

#loginUINotification{
    text-align: center;
    text-;
    opacity: .50;
    /*align-content: center;*/
    padding: 0px;
    /*margin-top: -30px;*/
    /*margin-bottom: 30px;*/
    /*margin-left: 30px;*/
    background: white;
}